In [1]:
from tt import *
import pandas as pd

In [2]:
d = {'col1': [1, 2,4], 'col2': [3, 4,5],'col3': [3, 4,5]}
df = pd.DataFrame(data=d)
df

   col1  col2  col3
0     1     3     3
1     2     4     4
2     4     5     5

In [3]:
y=yazi(2,3)

In [4]:
y.result

5

In [5]:
add(0,df,y)

12

In [6]:
fun_time_decorate(add,0,df,y)

12

In [7]:
from func_timeout import func_timeout, FunctionTimedOut

In [8]:
import multiprocessing
import tqdm
import time

In [9]:
from itertools import repeat

In [12]:
if __name__ == '__main__':
    with multiprocessing.Pool() as pool: 
        r = pool.starmap(fun_time_decorate, zip(repeat(add),range(3),repeat(df),repeat(y)))
        
r

[12, 15, 19]

In [20]:
from multiprocessing import Pool
import tqdm
import time
a=1
if __name__ == '__main__':
    with Pool(4) as p: 
        r = list(tqdm.tqdm(p.starmap(fun_time_decorate, zip(repeat(add),range(3),repeat(df),repeat(y))), total=3))
        p.close()
        p.join()

100%|██████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 3000.22it/s]

In [21]:
r

[12, 15, 19]